doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jade Drill 2
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    header
    h1 Drill 2
    img(src='http://images.wikia.com/southpark/images/c/c6/Mecha-Streisand_1998-2010.jpg')
  #bacon
    ul
      - for(var i = 0; i < 100; i++)
          li= i
