doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Inception
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')

  body
    h1 A Div Within a Div, Within a Div...
    
    input#text-box(type='text', placeholder='How many layers?...')

    button#add-divs Get Your Mind Blown...

    #stage


    

