#imgContainer {
  width: 1000px;
  height: 500px;
  background-color: black;
}
#imgContainer div:nth-child(2n) {
  border: 2px dotted yellow;
}
.newImageDiv {
  width: 200px;
  height: 200px;
  background-color: red;
  display: inline;
  float: left;
}
