.color {
  width: 100px;
  height: 100px;
  float: left;
}

.selected {
  border: 1px solid red;
}

.clear {
  clear: both;
}

#colors {
  border: 1px dashed #757575;
  background-color: #aaaaaa;
}

.pixel {
  width: 5px;
  height: 5px;
  border: 1px dashed black;
  margin: 1px;
  float: left;
}
