doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jade Tutorial
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Welcome to Jade!
      img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZxrOC-ghaGElm1JcXEX8FfLlaKaw5WRuF8KLxY5Ct_qLQagbMzx5dzs4D')
      #section1
        ul
          li a
          li b
          li c
        -var firstName = "drew";
        h2= firstName
        - for(var i = 0; i < 100; i++)
          h3= i 
          h2 world
        p This is paragraph 1
        p 
          | This is paragraph 2 <br>
          br
          | Addendum to paragraph 2
          span Span 1
        footer.foot1.foot2#footerid
