doctype html
html(lang='en')
  head
    meta(charset='uft-8')
    title Image Magic
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')

    body
      input#enterImgLink(type='text', placeholder='Enter an image url..')
      button#addImgButton Add your image!

      #imgContainer


