#forecast-div {
  border: 2px dotted black;
  width: 1000px;
  height: 500px;
  display: block;
}
.forecast-day {
  border: 1px dotted black;
  width: 200px;
  height: 150px;
  display: block;
}
.forecast-icon {
  border: 1px dotted black;
  width: 200px;
  height: 150px;
  display: block;
}
.forecast-condition {
  border: 1px dotted black;
  width: 200px;
  height: 150px;
  display: block;
}
