doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Get 4-day Forecast by Zip
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')

  body
    h1 Get Four-Day Forecast by Zip Code!
    
    input#text-box(type='text', placeholder='Type a zip code...')

    button#add-zip Add a Zip

    select#choose-zip

    button#get-button Check Forecast

    #forecast-div


    

