body {
  background-color: #99aa99;
}
#song-table {
  width: 900px;
}
thead {
  text-align: center;
}
th {
  margin: 0px auto;
}
#delete-message {
  height: 100px;
  background-color: rgba(250, 250, 250, 0.8);
}
.icons {
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 4px;
  background-size: contain;
}
.highlighted {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
td:nth-last-child(1) {
  text-align: right;
}
h1 {
  text-align: center;
  margin: 10px auto;
}
h5 {
  text-align: center;
  margin: 10px auto;
}
