doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title Drill III
  link(rel='stylesheet', href='/css/style.css')
  script(src='/js/vendor/jquery.js')
  script(src='/js/source/main.js')
body
  header
  h1 Drill 3
  img(src='http://southparkstudios.mtvnimages.com/shared/downloads/images/season-12/1214/1214_press-vampire-kids-and-butters.jpg')

  #controls
    input#color(type='text', placeholder='Type in a color')
    input#addcolor(type='button', value='Pick a color, any color')

  #colorbox

