doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Satellite Weather
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')

  body
    h1 Check out These Satellite Images
    
    input#text-box(type='text', placeholder='Enter a zip code...')

    button#add-zip Get Images!

    #images-div
      


    

