doctype html
html(lang='en')
head
  meta(charset='uft-8')
  title Select and Paint
  link(rel='stylesheet', href='/css/normalize.css')
  link(rel='stylesheet', href='/css/style.css')
  script(src='/js/vendor/jquery.js')
  script(src='/js/source/main.js')

body
  h1 Select and Paint!

  input#text-box(type='text', placeholder='Type in a color')
  button#add-color(type='submit') Add that Color...
  select#sb

  #paint

